// ─── Typography Tokens ───────────────────────────────────────────
:root {
  --font-sans:    'DM Sans', system-ui, sans-serif;

  --fs-xxs:     0.75rem;    // 12px
  --fs-xs:      0.875rem;    // 14px
  --fs-sm:      1rem;       // 16px
  --fs-base:    1.125rem;   // 18px
  --fs-lg:      1.25rem;    // 20px


  --fw-regular:   400;
  --fw-medium:    500;
  --fw-semibold:  600;
  --fw-bold:      700;
  --fw-extrabold: 800;
  --fw-black:     900;

  --ls-wide:      0.12em;
  --ls-wider:     0.18em;
}
